.custom-card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .zoomed {
    transform: scale(1.1);
  }

  .custom-card.hovered {
    box-shadow: 0 0 8px #8965f2;
  }
    